<section class="die-hard-tray">

    <!-- Fudge -->
  <div class="dice-tray__buttons flexrow">
      <button class="dice-tray__button" data-formula="{{key}}" title="{{key}}"><span class="dice-tray__flag dice-tray__flag--{{key}} hide"></span><i class="fas fa-poop"></i></button>
  </div>

    <!-- Erase Fudge -->
  <div class="dice-tray__buttons flexrow">
      <button class="dice-tray__button" data-formula="{{key}}" title="{{key}}"><span class="dice-tray__flag dice-tray__flag--{{key}} hide"></span><i class="fas fa-eraser"></i></button>
  </div>

    <!-- Karmic -->
  <div class="dice-tray__buttons flexrow">
      <button class="dice-tray__button" data-formula="{{key}}" title="{{key}}"><span class="dice-tray__flag dice-tray__flag--{{key}} hide"></span><i class="fas fa-praying-hands"></i></button>
  </div>

</section>
