<form id="die-hard-fudge-config">
    <h3 class="form-header"><span style="font-weight: bold;">WHO: </span>Who should this fudge be targetted at?</h3>
    {{#each whoActors}}
        <div class="form-group.slim">
            <label><input type="radio" name="draftFudgeWho" value="{{ key }}">{{ name }}</label>
        </div>
    {{/each}}

    <div style="height:15px"></div>
    <h3 class="form-header"><span style="font-weight: bold;">WHAT: </span>What dice roll should be fudged?</h3>
    {{#each whatOptions}}
        <div class="form-group.slim">
            <label><input type="radio" name="draftFudgeWhat" value="{{ key }}">{{ name }}</label>
        </div>
    {{/each}}

        <div style="height:15px"></div>
    <h3 class="form-header"><span style="font-weight: bold;">HOW: </span>How should the end total be fudged?</h3>
    <div class="form-group">
      <label for="fudge-formula">Formula:</label>
      <input type="text" class="form-control" name="draftFudgeFormula">
    </div>

    <div style="height:15px"></div>
    <div class="form-group">
        <button type="submit" name="save">
            <i class="fas fa-check-circle"></i> Create Fudge
        </button>
        <button type="submit" name="cancel">
            <i class="fas fa-ban"></i> Cancel
        </button>
    </div>

    <div style="height:30px"></div>
    <h3 class="form-header">Active Fudges</h3>
    <table id="activeFudges">
        <thead>
            <tr>
                <th>Who</th>
                <th>|</th>
                <th>What</th>
                <th>|</th>
                <th>How</th>
                <th>|</th>
                <th>Del</th>
            </tr>
        </thead>
        <tbody id="activeFudge">

        </tbody>
    </table>

</form>