    <tr>
        <td>Fooman</td>
        <th>|</th>
        <td>Skill Roll</td>
        <th>|</th>
        <td style="text-align:center">&lt;=15</td>
        <th>|</th>
        <td style="text-align:center"><i class="fas fa-trash-alt"></i></td>
    </tr>
    <tr>
        <td>Fooman</td>
        <th>|</th>
        <td>Any DND5e D20 Roll</td>
        <th>|</th>
        <td style="text-align:center">&gt;=15</td>
        <th>|</th>
        <td style="text-align:center"><i class="fas fa-trash-alt"></i></td>
    </tr>
